@import "./mixins.scss";
@import "./variables.scss";

* {
    font-family: "Montserrat", sans-serif;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    @include font-medium-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin-block-start: 0;
    margin-block-end: 0;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $grey-200;
}
