@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    width: 100vw;
    min-height: 100vh;
    padding-top: 180px;
    box-sizing: border-box;
    color: $grey-400;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.stories {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;
}

.story {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    background: $white;
    outline: 0;

    &_content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 16px;
        box-sizing: border-box;
    }

    &_text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &_title {
        color: $blue;
        @include font-bold-lg;
    }

    &_tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 20px;
    }
}

.image {
    width: 100%;
    height: 200px;
    position: relative;

    .play {
        width: 38px;
        position: absolute;
        display: none;
        bottom: 10px;
        right: 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-1 {
        background: url("../../../assets/images/story-1.jpeg") center/cover;
    }

    &-2 {
        background: url("../../../assets/images/story-2.jpeg") center/cover;
    }

    &-3 {
        background: url("../../../assets/images/story-3.jpeg") center/cover;

        .play {
            display: block;
        }
    }

    &-4 {
        background: url("../../../assets/images/story-4.jpeg") center/cover;
    }
}

.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 0 20px 20px;
    box-sizing: border-box;
}

@include tablet {
    .container {
        padding-top: 90px;
    }

    .stories {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 60px;
        padding: 20px 120px;
    }

    .story {
        background: transparent;
        box-shadow: none;

        &:hover,
        &:focus {
            background: $white;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        }
    }

    .image {
        height: 160px;
    }

    .comment {
        padding: 0 40px 40px;
    }
}

@include desktop {
    .container {
        padding-top: 130px;
    }

    .stories {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 80px;
        padding: 20px 160px;
    }

    .comment {
        padding: 0 80px 40px;
    }
}
